In [1]:
import numpy as np
import pandas as pd

In [2]:
xls = pd.ExcelFile('数据透视表.xlsx')

In [3]:
df = xls.parse('原数据')

In [4]:
df.head()

        订购日期 所属区域  产品类别  数量           销售额            成本
0 2007-03-21   苏州  宠物用品  16  19269.685164  18982.847760
1 2007-04-28   苏州  宠物用品  40  39465.169800  40893.083149
2 2007-04-28   苏州  宠物用品  20  21015.944745  22294.085221
3 2007-05-31   苏州  宠物用品  20  23710.258593  24318.374118
4 2007-06-13   苏州  宠物用品  16  20015.072431  20256.694699

In [5]:
df['订购月']=df['订购日期'].apply(lambda x: f'{x.month}月')

In [14]:
pt = df.pivot_table(values=['销售额', '成本'], index=['订购月'], columns=['所属区域'], aggfunc=np.sum, margins=True)
pt.head()

                 成本                                                            \
所属区域             南京            常熟             无锡             昆山            苏州
订购月
10月   237255.648092  4.830902e+05  454421.794007  346348.091177  4.354034e+05
11月   221687.106975  1.840869e+06  536866.768771  342420.180127  1.144810e+06
12月   808959.316248  2.629188e+05  856816.716180  951652.870814  3.021543e+05
1月     94967.835315  1.632201e+05  231822.279191  145403.321583  2.388120e+05
2月    138530.418156  1.268344e+05  376134.980954   86244.521785  9.141954e+04

                              销售额                                            \
所属区域           All             南京            常熟            无锡            昆山
订购月
10月   1.956519e+06  310455.717729  6.110618e+05  5.052642e+05  4.688196e+05
11月   4.086652e+06  286329.880122  2.118504e+06  6.339154e+05  3.510232e+05
12月   3.182502e+06  894522.059924  3.244545e+05  1.040127e+06  1.096213e+06
1月    8.742255e+05  134313.607087  1.775315e+05  3.164181e+05  1.591834e+05
2月    8.191638e+05  187129.131409  1.544427e+05  4.640122e+05  1.023245e+05


所属区域            苏州           All
订购月
10月   5.049606e+05  2.400562e+06
11月   1.269351e+06  4.659123e+06
12月   3.479393e+05  3.703256e+06
1月    2.872540e+05  1.074701e+06
2月    1.059403e+05  1.013849e+06

In [7]:
pts = pt.stack()
pts.head()

                     成本            销售额
订购月 所属区域
10月 南京    237255.648092  310455.717729
    常熟    483090.201242  611061.779443
    无锡    454421.794007  505264.207634
    昆山    346348.091177  468819.554418
    苏州    435403.430695  504960.559660

In [8]:
pts['利润'] = pts['销售额'] - pts['成本']
pts.head()

                     成本            销售额             利润
订购月 所属区域
10月 南京    237255.648092  310455.717729   73200.069637
    常熟    483090.201242  611061.779443  127971.578201
    无锡    454421.794007  505264.207634   50842.413627
    昆山    346348.091177  468819.554418  122471.463240
    苏州    435403.430695  504960.559660   69557.128965

In [9]:
pts.unstack()

                 成本                                                           \
所属区域             南京            常熟            无锡             昆山            苏州
订购月
10月   237255.648092  4.830902e+05  4.544218e+05  346348.091177  4.354034e+05
11月   221687.106975  1.840869e+06  5.368668e+05  342420.180127  1.144810e+06
12月   808959.316248  2.629188e+05  8.568167e+05  951652.870814  3.021543e+05
1月     94967.835315  1.632201e+05  2.318223e+05  145403.321583  2.388120e+05
2月    138530.418156  1.268344e+05  3.761350e+05   86244.521785  9.141954e+04
3月     72127.335747  6.439570e+05  6.079829e+05   90794.537244  6.995202e+05
4月    201217.124728  3.603025e+05  1.374695e+06  108014.191156  5.131019e+05
5月    107478.132765  4.654815e+05  7.858451e+05   74048.314243  6.014858e+05
6月    122405.358197  2.824576e+05  6.751000e+05  159851.243389  3.080422e+05
7月    351528.203332  3.402800e+05  6.866244e+05  221681.619222  5.192344e+05
8月     90578.173289  2.938512e+05  3.561251e+05  189805.350121  4.541309e+05
9月    212806.356428  6.177423e+05  5.673003e+05  458584.565545  4.053057e+05

                销售额                                                          \
所属区域             南京            常熟            无锡            昆山            苏州
订购月
10月   310455.717729  6.110618e+05  5.052642e+05  4.688196e+05  5.049606e+05
11月   286329.880122  2.118504e+06  6.339154e+05  3.510232e+05  1.269351e+06
12月   894522.059924  3.244545e+05  1.040127e+06  1.096213e+06  3.479393e+05
1月    134313.607087  1.775315e+05  3.164181e+05  1.591834e+05  2.872540e+05
2月    187129.131409  1.544427e+05  4.640122e+05  1.023245e+05  1.059403e+05
3月     98528.155682  7.808950e+05  6.897657e+05  1.014473e+05  8.008249e+05
4月    241869.875367  4.130478e+05  1.477886e+06  1.268237e+05  5.768313e+05
5月    136967.377897  5.349301e+05  9.274551e+05  9.440796e+04  6.629640e+05
6月    146488.916109  3.235172e+05  7.759295e+05  1.718686e+05  3.295837e+05
7月    407179.324254  3.876269e+05  7.582082e+05  2.684001e+05  5.923887e+05
8月    111106.931290  3.709878e+05  4.174139e+05  1.813462e+05  4.992947e+05
9月    260332.156568  7.160619e+05  6.657694e+05  5.115267e+05  4.764476e+05

                利润
所属区域            南京             常熟             无锡             昆山             苏州
订购月
10月   73200.069637  127971.578201   50842.413627  122471.463240   69557.128965
11月   64642.773147  277635.010651   97048.643763    8603.061581  124541.563529
12月   85562.743676   61535.675507  183310.476259  144559.874958   45785.049217
1月    39345.771772   14311.400330   84595.808798   13780.028760   48441.964821
2月    48598.713253   27608.371476   87877.221492   16079.938519   14520.802736
3月    26400.819935  136937.975394   81782.878444   10652.766650  101304.687733
4月    40652.750639   52745.297876  103190.698543   18809.513650   63729.362712
5月    29489.245132   69448.668443  141609.964650   20359.649627   61478.209967
6月    24083.557911   41059.622618  100829.550757   12017.384654   21541.518049
7月    55651.120922   47346.955869   71583.820748   46718.478378   73154.290578
8月    20528.758001   77136.558401   61288.816343   -8459.146714   45163.829066
9月    47525.800141   98319.596294   98469.119222   52942.155417   71141.955287